---

---
<footer class="container footer">
  Find more assets at itch.io <a href="https://aitordsgn.itch.io/"
    >(https://aitordsgn.itch.io/)</a
  ><br />
  License: <a href="License">No resale, attribution optional</a>
</footer>
